/*!
 * Copyright (c) 2013-2015 Sierra Wireless and others.
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * and Eclipse Distribution License v1.0 which accompany this distribution.
 *
 * The Eclipse Public License is available at
 *    http://www.eclipse.org/legal/epl-v10.html
 * and the Eclipse Distribution License is available at
 *    http://www.eclipse.org/org/documents/edl-v10.html.
 *
 * Contributors:
 *     Sierra Wireless - initial API and implementation
 */

.container {
	max-width: 980px;
}

.container-view {
	margin-bottom: 250px;
}

code {
	color: #b11eb2;	
}

pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background: #333333;
}

.navbar-brand {
	padding: 5px;
}

.navbar-default {
	background-color:#2e2d2d;
	border-color: #2e2d2d;
	border-bottom-width: 0	px;
}

.navbar div a {
	height: 60px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color:#2e2d2d;

}

li.navlink>a:focus{
	outline: 0px none;
	text-decoration: underline;
}

#reservation-navlink.active>a,
#reservation-navlink>a:hover,
#reservation-navlink>a:focus {
		color:#25A81D;
}

#client-navlink.active>a,
#client-navlink>a:hover,
#client-navlink>a:focus {
		color:#25A79C;
}
#security-navlink.active>a,
#security-navlink>a:hover,
#security-navlink>a:focus{
		color: #b11eb2;
}

.navbar-default .navbar-nav>li>a {
	line-height: 35px;
	text-align: center;
	letter-spacing: 1px;
	/*width: 150px; */
	color: #F7FAFA;	
}

.navbar-default .navbar-nav>li>a:hover {
	color: #979797;
}

.breadcrumb{
	border: 1px solid;
	border-color: #DDD;	
}

/* Object level */
.object {
	margin-bottom: 5px;
}

.object-name {
	font-size: 18px;
	color: #25A79C;
}

/* Object instance level */

.instance-name {
	font-size: 16px;
	padding-left: 30px;
}

/* Resource level */
.resource-name {
	padding-left: 50px;
}

.resource-value {
	font-weight: bold;
}

.resource-value-supposed {
	color: #AAAAAA;
}

/* Security info */
.security-table {
	margin-top: 20px;
}


/* add cursor on table row */
table.table-href > tbody{
	cursor: pointer;
}

/* define minimum size for dropdown menu content format*/
.dropdown-menu-contentformat{
	min-width: 75px;
}

/* remove dotted line for abbreviation */
abbr[title] {
	border-bottom: none;
}

.panel-heading {
	cursor: pointer;
}

/**
 * HACK for modal  see : http://stackoverflow.com/questions/17726641/bootstrap-how-to-disable-vertical-scrollbar
 * Maybe we should try to move modal to top level position in our document : http://getbootstrap.com/javascript/#modals
 */ 
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
 margin-right: 0;
 overflow-y: auto;
}

/**
 * HACK to disable modal animation : http://stackoverflow.com/questions/18873428/turn-off-animation-modal-angular-ui
 */
.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* CoAP logs styles */

.coaplogs {
	position:fixed;
	right: 0px;
	left: 0px;
	bottom:0px;
	width:100%;
	z-index: 2;
	max-height: 250px;
	padding: 0px;
}

.coaplogs-button {
	margin-bottom: 10px;
	margin-left: -20px;
}

.coaplogs-panel {
	background-color: #F5F5F5;
	border: 1px solid;
    border-color: #DDD;
    padding-right: 20px;
	padding-left: 20px;
}

.coaplogs-header {
	table-layout: fixed;
	margin-bottom: 0px;
	padding-right: 20px;
}

.coaplogs-table {
    height: 180px;
    overflow-y: auto;
    font-size: 12px;
}

.coaplogs-table > table {
	table-layout: fixed;
}

.coaplogs-table > table > tbody > tr > td {
	padding: 0px 0px 0px 10px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #fafcfc;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #2e2d2d;
  padding-top: 10px;
}

.text-muted {
    color: #cccac9;
}

a {
	color : #25A79C;
}