<div class="modal-header">
    <h4 class="modal-title"> {{title}}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="submit()">
        <div>
            <div class="form-group">
                <label for="plateNumber" class="col-sm-4 control-label">Plate Number</label>
                <div class="col-sm-6">
                    <input class="form-control" id="plateNumber" name="plateNumber" ng-model="plateNumber"
                        placeholder="P01ZDA">
                </div>
                <label for="spotName" class="col-sm-4 control-label">Parking Spot</label>
                <div class="col-sm-6">
                    <select class="form-control" id="spotName" ng-model="spotName"
                        ng-options="parkingSpot for parkingSpot in parkingSpots">
                    </select>
                </div>
                <label for="lotName" class="col-sm-4 control-label">Parking Lot</label>
                <div class="col-sm-6">
                    <select class="form-control" id="lotName" ng-model="lotName"
                        ng-options="parkingLot for parkingLot in parkingLots">
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="submit()">Add</button>
</div>