<span ng-if="reservationslist">
	<h3><small>
			<p class="text-right"> <button class="btn btn-default" type="button"
					ng-click="addReservation()">Add</button> Reservations: {{reservations.length}}</p>
		</small></h3>

	<div class="table-responsive" ng-if="reservations.length >0">
		<table class="table table-striped table-hover table-condensed table-href">
			<thead>
				<tr>
					<th>Plate Number</th>
					<th>Parking Spot</th>
					<th>Parking Lot</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="reservation in reservations">
					<td><a ng-href="#/reservations/{{reservation.id}}"> <strong>{{reservation.plateNumber}}</strong></a>
					</td>
					<td>{{reservation.spotName}}</td>
					<td>{{reservation.lotName}}</td>
					<th><button class="btn btn-default" type="button"
							ng-click="delReservation(reservation)">Delete</button></th>
				</tr>
			</tbody>
		</table>
	</div>
</span>

<span ng-if="error">
	<div class="alert alert-danger">{{error}}</div>
</span>